<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trivia Game</title>
    <div>What is the riddle of steel?
    <form action = "/login" method = "POST">
        <h4> a) An important life lesson Conan learns about the failing nature of age and objects versus the enduring human spirit
        <h4> b) It has no actual answer
        <h4> c) An inside joke
        <p>Enter 'a' 'b' or 'c':</p>
        <p><input type = "text" name = "nm"></p>
        <p><input type = "submit" value = "submit"></p>
    </form
    <div>>
</head>
<body>

</body>
</html>

